
<h2><%= @audio.name %></h2>

<br/><hr/><br/>

<audio id="<%= @audio.id %>" controls data-audio="<%= @audio.id %>" class="player">
  <% if @audio.path.index('http') %>
    <source src="<%= @audio.path %>"></source>
  <% else %>
    <source src="<%= stream_path(@audio.id) %>"></source>
  <% end %>
</audio>

<br/><hr/><br/>


<%= link_to 'Edit', edit_audio_path(@audio), class: 'button small' %> |
<%= link_to 'Back', audios_path, class: 'button small' %>
