
<h2><%= @audio.name %></h2>

<p>
  <strong>Album:</strong> <%= link_to @audio.album.name, @audio.album if @audio.album %>
</p>
<p>
  <ul id="playlists">
    <% if @audio.playlists %>
      <% @audio.playlists.each do |playlist| %>
        <li>
          <%= link_to playlist.name, playlist_path(playlist) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</p>

<br/><hr/><br/>



<div class="row">
  <div class="columns large-6 text-center panel">
    <%= image_tag @audio.album.image.thumb('300x300').url if @audio.album && @audio.album.image %>
    <audio id="<%= @audio.id %>" controls data-audio="<%= @audio.id %>" class="player">
      <% if @audio.path.index('http') %>
        <source src="<%= @audio.path %>"></source>
      <% else %>
        <source src="<%= stream_path(@audio.id) %>"></source>
      <% end %>
    </audio>
  </div>
</div>

<br/><hr/><br/>


<%= link_to 'Edit', edit_audio_path(@audio), class: 'button small' %> |
<%= link_to 'Back', audios_path, class: 'button small' %>
