
<h2><%= @album.name %></h2>
<ul class="no-bullet">
  <li>
    <strong>Artist:</strong> <%= @album.artist %>
  </li>
  <li>
    <strong>Released:</strong> <%= @album.year.strftime('%Y') if @album.year %>
  </li>
  <li>
    <strong>Genre:</strong> <span class="label warning"><%= @album.genre %></span>
  </li>
</ul>

<div class="row">
  <div class="columns large-4">
    <h4>Play Album</h4>
    <div class="controls">
      <button class="warning tiny control change" data-function="-1" data-album="<%= @album.id %>"><i class="fi-previous"></i></button>
      <button class="warning tiny control" data-function="play" data-album="<%= @album.id %>"><i class="fi-play"></i></button>
      <button class="warning tiny control" data-function="pause" data-album="<%= @album.id %>"><i class="fi-pause"></i></button>
      <button class="warning tiny control change" data-function="1" data-album="<%= @album.id %>"><i class="fi-next"></i></button>
      <br/>
      <button class="warning small control" data-function="loop" data-album="<%= @album.id %>"><i class="fi-loop"></i></button>
      <button class="warning small control" data-function="shuffle" data-album="<%= @album.id %>"><i class="fi-shuffle"></i></button>
    </div>
    <div class="current-song">
      <h5>Current Audio</h5>
      <span id="playing_audio">
        <% if @last_audio %>
          <strong><%= @last_audio.name %></strong> was last played.
        <% else %>
          Don't know what was last played...
        <% end %>
      </span>
    </div>
  </div>
</div>


<br/><hr/><br/>

<% unless @album.audios.empty? %>
  <ul class="no-bullet">
    <% @album.audios.each do |audio| %>
      <li>

        <div class="row">
          <div class="columns large-6 text-center panel">
            <strong><%= link_to audio.name, audio %></strong>
            <br/>
            <%= image_tag @album.image.thumb('300x300').url if @album.image %>
            <audio id="<%= audio.id %>" controls data-audio="<%= audio.id %>" class="player">
              <% if audio.path.index('http') %>
                <source src="<%= audio.path %>"></source>
              <% else %>
                <source src="<%= stream_path(audio.id) %>"></source>
              <% end %>
            </audio>
          </div>
        </div>

      <% end %>
    </li>
  </ul>
<% end %>

<br/><hr/><br/>


<%= link_to 'Edit', edit_album_path(@album), class: 'button small' %> |
<%= link_to 'Back', albums_path, class: 'button small' %>
