
<h2><%= @playlist.name %></h2>
<ul class="no-bullet">
  <li>
    <strong>Description:</strong> <%= @playlist.description %>
  </li>
</ul>

<div class="row">
  <div class="columns large-6">
    <h4>Play Playlist</h4>
    <div class="controls">
      <button class="warning large control change" data-function="-1" data-playlist="<%= @playlist.id %>"><i class="fi-previous"></i></button>
      <button id="play" class="warning large control" data-function="play" data-playlist="<%= @playlist.id %>"><i class="fi-play"></i></button>
      <button id="pause" class="warning large control" data-function="pause" data-playlist="<%= @playlist.id %>"><i class="fi-pause"></i></button>
      <button class="warning large control change" data-function="1" data-playlist="<%= @playlist.id %>"><i class="fi-next"></i></button>
      <br/>
      <button id="looper" class="warning small control" data-function="looper" data-playlist="<%= @playlist.id %>"><i class="fi-loop"></i></button>
      <button id="shuffle" class="warning small control" data-function="shuffle" data-playlist="<%= @playlist.id %>">
        <i class="fi-shuffle"></i>
      </button>
    </div>
    <div class="current-song">
      <h5>Current Audio</h5>
      <span id="playing_audio">
        <% if @last_audio %>
          <strong><%= @last_audio.name %></strong> was last played.
        <% else %>
          Don't know what was last played...
        <% end %>
      </span>
    </div>
  </div>
</div>


<br/><hr/><br/>

<% unless @playlist.audios.empty? %>
  <ul class="no-bullet">
    <% @playlist.audios.each do |audio| %>
      <li>

        <div class="row">
          <div class="columns large-6 text-center panel">
            <strong><%= link_to audio.name, audio %></strong>
            <br/>
            <%= image_tag @playlist.image.thumb('300x300').url if @playlist.image %>
            <audio id="<%= audio.id %>" controls data-audio="<%= audio.id %>" class="player">
              <% if audio.path.index('http') %>
                <source src="<%= audio.path %>"></source>
              <% else %>
                <source src="<%= stream_path(audio.id) %>"></source>
              <% end %>
            </audio>
          </div>
        </div>

      <% end %>
    </li>
  </ul>
<% end %>

<br/><hr/><br/>


<%= link_to 'Edit', edit_playlist_path(@playlist), class: 'button small' %> |
<%= link_to 'Back', playlists_path, class: 'button small' %>
