<br/><br/>

<dl class="sub-nav" id="nav" data-turbolinks-permanent>
  <dd class="<%= 'active' if params[:controller] == 'audios' %>"><a href="/">Audio Files</a></dd>
  <dd class="<%= 'active' if params[:controller] == 'albums' %>"><a href="/albums">Albums</a></dd>
  <dd class="<%= 'active' if params[:controller] == 'playlists' %>"><a href="/playlists">Playlists</a></dd>
  <dd class="<%= 'active' if params[:controller] == 'settings' %>"><a href="/settings">Settings</a></dd>

  <dd id="current-song" class="right">
  </dd>
  <dd id="controller" class="right">
    <!-- make all of this a React component -->
    <div id="global_player" data-turbolinks-permanent>

    <% if @collection %>
      <%= react_component 'Player', id: @collection.id,
          action: controller_name,
          collection: @collection.audios,
          currentAudio: @last_audio,
          size: 'small' %>
    <% else %>
      <%= react_component 'GlobalPlayer' %>
    <% end %>
    </div>
  </dd>

</dl>

<hr/>
